@mixin vg-color {
  background: var(--black) !important;
  color: var(--white) !important;
}

.mat-icon-button {
  .mat-icon {
    line-height: 1 !important;
  }

  &.btn-more {
    position: absolute;
    top: -16px;
    right: -16px;
  }
}

.mat-flat-button {
  @include vg-color;
  padding: 2px 20px !important;
  border-radius: 20px !important;

  span.mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mat-fab {
  position: fixed !important;
  bottom: 20px;
  right: 40px;
  z-index: 3;
  &.mat-accent {
    @include vg-color;
  }
}

.mat-icon-button {
  .mat-button-focus-overlay {
    display: none;
  }

  .mat-icon {
    line-height: 1 !important;
  }
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

.dark-theme .mat-fab.mat-accent {
  background: var(--dark-regular) !important;
}
