mat-card {
  img {
    width: 80% !important;
    height: auto !important;
    margin: 0 !important;
  }

  cursor: pointer;

  &:focus,
  &:hover {
    animation: pulse;
    animation-duration: 2s;
  }
}

app-card .mat-card {
  width: 360px;
  height: 360px;
}
