@mixin line-clamp($l-clap) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: $l-clap;
  -webkit-box-orient: vertical;
}

@mixin card-sizes($width, $height) {
  width: $width;
  height: $height;
}

@mixin card-content-sizes(
  $width: 80%,
  $f-zT: 24px,
  $l-height: 28px,
  $f-zS: 20px,
  $f-zC: 14px,
  $pd: 6px
) {
  mat-card {
    img {
      width: $width !important;
      height: auto !important;
      margin: 0 !important;
    }

    mat-card-title {
      font-weight: bold;
      font-size: $f-zT !important;
      line-height: $l-height;
      @include line-clamp(1);
    }

    mat-card-subtitle {
      font-weight: bold;
      font-size: $f-zS !important;
      margin-bottom: 6px !important;
    }

    mat-card-content {
      p {
        font-size: $f-zC !important;
        overflow: hidden;
        @include line-clamp(3);
      }
    }

    .mat-card-title-group {
      align-items: baseline;
    }

    .mat-divider-horizontal.mat-divider-inset {
      padding: $pd !important;
    }
  }
}

@include card-content-sizes();

app-card-data .mat-card {
  @include card-sizes(280px, 340px);

  .features-container {
    p {
      margin: 6px 0 0 4px;
    }
  }
}

app-card-image .mat-card {
  @include card-sizes(360px, 360px);

  cursor: pointer;

  &:focus,
  &:hover {
    animation: pulse;
    animation-duration: 2s;
  }
}

@media (max-width: 768px) {
  @include card-content-sizes(60%, 18px, 22px, 16px, 14px, 2px);

  app-card-data .mat-card {
    @include card-sizes(220px, 300px);
  }

  app-card-image .mat-card {
    @include card-sizes(200px, 200px);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  @include card-content-sizes(60%, 20px, 24px, 18px, 14px, 2px);

  app-card-data .mat-card {
    @include card-sizes(240px, 300px);
  }

  app-card-image .mat-card {
    @include card-sizes(240px, 240px);
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  @include card-content-sizes(60%, 24px, 28px, 18px, 14px, 2px);

  app-card-data .mat-card {
    @include card-sizes(260px, 320px);
  }

  app-card-image .mat-card {
    @include card-sizes(280px, 280px);
  }
}

@media (min-width: 1300px) and (max-width: 1648px) {
  @include card-content-sizes(80%, 24px, 28px, 20px, 14px, 4px);

  app-card-data .mat-card {
    @include card-sizes(280px, 340px);
  }

  app-card-image .mat-card {
    @include card-sizes(320px, 320px);
  }
}
