@mixin line-clamp($l-clap) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: $l-clap;
  -webkit-box-orient: vertical;
}

mat-card {
  img {
    width: 80% !important;
    height: auto !important;
    margin: 0 !important;
  }

  mat-card-title {
    font-weight: bold;
    font-size: 24px !important;
    line-height: 28px;
    @include line-clamp(1);
  }

  mat-card-subtitle {
    font-weight: bold;
    font-size: 18px !important;
    margin-bottom: 6px !important;
  }

  mat-card-content {
    p {
      font-size: 14px !important;
      @include line-clamp(3);
    }
  }

  mat-card-footer {
    position: absolute;
    font-weight: bold;
    font-size: 14px !important;
    bottom: 16px;
    width: 100%;
  }

  .mat-card-title-group {
    align-items: baseline;
  }

  .mat-divider-horizontal.mat-divider-inset {
    padding: 6px !important;
  }
}

app-card-image .mat-card {
  width: 360px;
  height: 360px;

  cursor: pointer;

  &:focus,
  &:hover {
    animation: pulse;
    animation-duration: 2s;
  }
}

app-card-data .mat-card {
  width: 280px;
  height: 340px;
}
