.cdk-overlay-backdrop.dialog-backdrop.cdk-overlay-backdrop-showing {
  background: radial-gradient(var(--black), transparent) !important;
}

mat-dialog-container {
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
