.layout-container {
  // 86px = toolbar (64px) + footer (24px)
  height: calc(100vh - 88px);
  overflow: auto;
  background: var(--light-bg) !important;
}

.dark-theme {
  .layout-container {
    background: var(--dark-bg) !important;
  }
}
