.snackbar-success {
  background: var(--green) !important;
  color: var(--white) !important;
}

.snackbar-error {
  background: var(--red) !important;
  color: var(--white) !important;
}

.snackbar-warning {
  background: var(--orange) !important;
  color: var(--white) !important;
}
