@mixin toolbar-content-sizes($h1-f-z, $width, $height, $f-z) {
  mat-toolbar-row {
    border-bottom: 1px solid var(--gray);
    h1 {
      font-size: $h1-f-z !important;
    }

    .img,
    .mat-icon {
      width: $width;
      height: $height;
      font-size: $f-z;
      cursor: pointer;
    }
  }
}

@include toolbar-content-sizes(xx-large, 42px, 42px, 42px);

@media (max-width: 768px) {
  @include toolbar-content-sizes(small, 36px, 36px, 36px);
}

@media (min-width: 768px) and (max-width: 992px) {
  @include toolbar-content-sizes(medium, 38px, 38px, 38px);
}
