<div class="actions-container d-flex align-items-center justify-content-between w-100 px-3 py-2">
    <app-filter class="w-100 ms-2 me-2" [fields]="fieldsSort" (searchChangeClick)="searchCars($event)" (sortChangeClick)="sortCars($event)">
    </app-filter>
    <mat-form-field appearance="fill" class="me-2">
        <mat-select [(ngModel)]="filter.id" placeholder="{{'brand.change' | translate}}" (selectionChange)="brandChange()" name="brand.id">
            <mat-option *ngFor="let brand of brands" [value]="brand.id">
                <img class="me-2" src="{{brand.image}}">
                <span>{{ brand.name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button (click)="openDialog();">
        <mat-icon class="material-icons-outlined">add</mat-icon>
        {{"car.add" | translate}}
    </button>
</div>

<div id="cars-container" class="p-3" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle" (scrolled)="loadCars()" [scrollWindow]="false" (scroll)="onScroll($event)">
    <div *ngIf="cars.length > 0 && !isLoading">
        <mat-grid-list class="p-3 w-100" [rowHeight]="rowHeight" [cols]="columns" [gutterSize]="gutterSize">
            <mat-grid-tile class="animate__animated animate__zoomIn" *ngFor="let car of cars | slice:start:end">
                <app-card-data [item]="car"></app-card-data>
            </mat-grid-tile>
        </mat-grid-list>
        <div *ngIf="!isScroll && !isLoading && cars.length > MAX_ITEM_PAGE" class="p-4 text-center animate__animated animate__zoomIn">
            <button mat-flat-button (click)="loadCars();">{{"car.more_cars" | translate}}</button>
        </div>

        <button *ngIf="isUpward" class="animate__animated animate__zoomIn" mat-fab (click)="onScrollTop()">
            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
        </button>
    </div>
    <div *ngIf="isLoading || isLoadingMore" [ngClass]="{'h-100':isLoading}"
        class="p-4 d-flex align-items-center justify-content-center w-100 animate__animated animate__zoomIn">
        <mat-spinner></mat-spinner>
    </div>
    <app-message *ngIf="cars.length === 0 && !isLoading" [message]="message">
    </app-message>
</div>

<app-dialog-car #dialogCar (closeClick)="closeDialog()"></app-dialog-car>