.filter-container {
  flex-direction: row;
  .field-search {
    width: 75%;
    padding-right: 6px;
    padding-bottom: 0;
  }
  .field-sort {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    .field-search {
      width: 100%;
      padding-right: 0;
      padding-bottom: 6px;
    }
    .field-sort {
      width: 100%;
    }
  }
}
