<div class="filter-container d-flex">
    <mat-form-field appearance="fill" class="field-search">
        <input matInput [(ngModel)]="filter.search" placeholder="{{'filter.search.display' | translate}}" (keyup)="onKeyup()"
            (keydown.enter)="onKeydown($event)">
        <button mat-icon-button class="icon-container" [disableRipple]="true">
            <mat-icon matSuffix *ngIf="filter.search && filter.search.length > 0" class="material-icons-outlined" (click)=searchClear()>clear
            </mat-icon>
        </button>
        <button mat-icon-button class="mx-2 icon-container" [disableRipple]="true" [disabled]="filter.search.length === 0" (click)="searchChange()">
            <mat-icon matSuffix class="material-icons-outlined">search</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="field-sort">
        <mat-select [(ngModel)]="filter.field" placeholder="{{'filter.order_by.display' | translate}}" (selectionChange)="sortChange()"
            name="field.value">
            <mat-option *ngFor="let field of fields" [value]="field.value">
                <span>{{ field.display | translate }}</span>
            </mat-option>
        </mat-select>
        <button mat-icon-button class="icon-container">
            <mat-icon matSuffix *ngIf="filter.field" class="material-icons-outlined" (click)=sortClear($event)>clear</mat-icon>
        </button>
        <button mat-icon-button class="mx-2 icon-container" [disableRipple]="true" [disabled]="filter.field.length === 0" (click)=orderChange($event)>
            <mat-icon matSuffix class="material-icons-outlined">{{isOrderAsc ? 'north' : 'south'}}</mat-icon>
        </button>
    </mat-form-field>
</div>