/* TOOLBAR */
@import "../src/assets/styles/components/toolbar";

/* MENU */
@import "../src/assets/styles/components/menu";

/* BUTTON */
@import "../src/assets/styles/components/button";

/* CARD */
@import "../src/assets/styles/components/card";

/* FOOTER */
@import "../src/assets/styles/components/footer";

/* LAYOUT */
@import "../src/assets/styles/components/layout";

/* FORM FIELD */
@import "../src/assets/styles/components/form-field";

/* SCROLLBAR */
@import "../src/assets/styles/components/scrollbar";

/* SNACKBAR */
@import "../src/assets/styles/components/snackbar";

/* ICON */
@import "../src/assets/styles/components/icon";

/* SPINNER */
@import "../src/assets/styles/components/spinner";

/* GENERAL */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}
